:root{
    --backround-primary: #415D43;
    --backround-secondary: #9DB17C;
    --backround-tertiary: #86BBD8;
    --backround-additional: #FF7F11;
}

.green {
    background-color: var(--backround-primary);
}

ul a:hover {
    background-color: var(--backround-additional);
    padding: 5px;
    border-radius: 5px;
}

main {
    background-color: var(--backround-secondary);
}

div a:hover {
    background-color: var(--backround-tertiary);
    border-radius: 10px;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--backround-primary);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

button:hover {
    background: var(--backround-tertiary);
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}