:root{
    --backround-primary: #415D43;
    --backround-secondary: #9DB17C;
    --backround-tertiary: #86BBD8;
    --backround-additional: #FF7F11;
}

.project_title {
    background-color: var(--backround-primary);
}

.hamburger{
    width: 50px;
    height: 50px;
}

.hamburger_nav {
    background-color: var(--backround-primary);
}


.top_nav {
    display: none;
}

.language_list {
    flex-direction: row;
}

.resume_page {
    display: flex;
    flex-direction: column;
}

.green {
    background-color: var(--backround-primary);
}

ul a:hover, .hamburger_nav a:hover {
    background-color: var(--backround-additional);
    padding: 5px;
    border-radius: 5px;
}

main {
    background-color: var(--backround-secondary);
}

section a:hover {
    background-color: var(--backround-tertiary);
    border-radius: 10px;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--backround-primary);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

button:hover {
    background: var(--backround-tertiary);
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.arrow {
width: 15px;
    height: 15px;
}

@media (min-width: 1024px) {
    .top_nav {
        display: flex;
    }

    .hamburger {
        display: none;
    }
    .language_list {
        flex-direction: row;
    }

    .resume_page {
        display: grid;
        /*grid grid-cols-3 gap-2*/
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;
    }
}